<!--navbar showing work-->
<bs-navbar></bs-navbar>
<!--end of navbar showing work-->

<!--start of department dropdown-->

<!-- <div class="container col-sm-6" style="align-items: center"
  *ngIf="!authService.roleMatch(['Admin'])">
  <label for="departmentName"><b>الإدارات</b></label>
  <select id="departmentName" name="departmentName" #userName="ngModel" [ngClass]="{
        'txt-error': userName.touched && userName.invalid
      }"
    (ngModelChange)="onSelectingDepartment($event)" [(ngModel)]="departmentName" class="form-control">
    <option value="-1" disabled>--اختر إدارة--</option>
    <option *ngFor="let dept of departments" [value]="dept.departmentId">
      {{ dept.departmentName }}
    </option>
  </select>
  <br />
  selected value is {{ departmentName }}
  <option value="-1"></option> 
</div> -->

  <!--end of department dropdown-->


<!--start of ngFullCcalendar-->

<div class="container">
  <div *ngIf="dayCalendarOptions">
    <ng-fullcalendar
      #ucCalendarDay
      id="ucCalendarRight"
      [options]="dayCalendarOptions"
      (dayClick)="dayClick($event.detail)"
      (eventClick)="eventClick($event.detail)"
      (refetchEvents)="render2"
      [(eventsModel)]="events"
    >
    </ng-fullcalendar>
  </div>
</div>
<!--end of ng-fullCalendar-->

<!--modal for creating appointment-->

<div *ngIf="startDate && !appointmentCreateEventSuccessful">
  <div
    class="modal fade show d-block"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-backdrop fade show"
      (click)="startDate = !startDate"
    ></div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="newEvent">حجز موعد جديد</h4>

          <button
            type="button"
            class="close"
            (click)="startDate = !startDate"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form #modalForm="ngForm" (ngSubmit)="OnSubmit(title.value,description.value)">
            <!-- <form #modalForm="ngForm" (ngSubmit)="OnSubmit(title.value,departmentName.value,description.value)"> -->
          <div class="modal-body">
            <div class="row">
              <!-- <div class="col-sm-6">
                <div class="form-group" *ngIf="!authService.roleMatch(['Admin'])">
                  <label for=""><b>القسم</b></label>
                  <select
                    id="departmentName"
                    name="departmentName"
                    #userName="ngModel"
                    [ngClass]="{
                      'txt-error': userName.touched && userName.invalid
                    }"
                    (ngModelChange)="onDepartmentSelected($event)"
                    [(ngModel)]="departmentName"
                    class="form-control"
                  >
                    <option value="-1" disabled>--select department--</option>
                    <option
                      *ngFor="let dept of departments"
                      [value]="dept.departmentId"
                    >
                      {{ dept.departmentName }}
                    </option>
                  </select>
                </div>
                <!-- <div class="form-group">
                  <label for=""><b>القسم</b></label>
                </div> 
              </div> -->
              <div class="col-sm">
                <div class="form-group">
                  <label for="title"><b>عنوان الموعد</b></label>
                  <input
                    #title="ngModel"
                    ngModel
                    name="title"
                    id="title"
                    type="text"
                    class="form-control"
                    required
                    
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="title.touched && title.invalid"
                  >
                    <b>العنوان مطلوب</b>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for=""><b>التفاصيل</b></label>
                  <textarea
                   #description="ngModel"
                    ngModel
                    name="description"
                    id="description"
                    cols="15"
                    rows="10"
                    class="form-control text-area--sm"
                    required
                  ></textarea>
                  <div
                    class="alert alert-danger"
                    *ngIf="description.touched && description.invalid"
                  >
                  <b>الوصف مطلوب</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!modalForm.valid"
            >
              إنشاء
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--end of modal for creating appointment-->

<!--Modal for appointmentEvent click-->

<div *ngIf="appointmentEditEventSuccessful">
  <div
    class="modal fade show d-block"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-backdrop fade show"
      (click)="appointmentEditEventSuccessful = !appointmentEditEventSuccessful"
    ></div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="newEvent">تعديل موعد</h4>
          <button
            type="button"
            class="close"
            (click)="
              appointmentEditEventSuccessful = !appointmentEditEventSuccessful
            "
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <form #editModalForm="ngForm"(ngSubmit)="OnEditSubmit(title.value,departmentName.value,description.value)"> -->
            <form #editModalForm="ngForm"(ngSubmit)="OnEditSubmit(title.value,description.value)">
          <div class="modal-body">
            <div class="row">
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label for=""><b>القسم</b></label>
                  <select
                    id="departmentName"
                    name="departmentName"
                    #userName="ngModel"
                    [ngClass]="{
                      'txt-error': userName.touched && userName.invalid
                    }"
                    (ngModelChange)="onDepartmentSelected($event)"
                    [(ngModel)]="departmentName"
                    class="form-control"
                  >
                     <option value="-1" disabled>--select department--</option> 
                    <option
                      *ngFor="let dept of departments"
                      [value]="dept.departmentId"
                    >
                      {{ dept.departmentName }}
                    </option>
                  </select>
                  <div
                    class="alert alert-danger"
                    *ngIf="departmentName.touched && departmentName.invalid"
                  >
                    Department Name is required.
                  </div>
                </div>
              </div> -->

              <div class="col-sm">
                <div class="form-group">
                  <label for="title"><b>عنوان الموعد</b></label>
                  <input
                    #title="ngModel"
                    [(ngModel)]="userEvent.title"
                    name="title"
                    id="title"
                    type="text"
                    class="form-control"
                    required
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="title.touched && title.invalid"
                  >
                    Title is required.
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for=""><b>التفاصيل</b></label>
                  <textarea
                  #description="ngModel"
                    name="description"
                    id="description"
                    [(ngModel)]="userEvent.description"
                    cols="15"
                    rows="10"
                    class="form-control text-area--sm"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit">تؤكد</button>
            <button class="btn btn-danger" type="button" (click)="confirmDelete()">
              حذف الموعد
            </button>          
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--end of modal Event Click in day calendar-->

<!--modal for rejection confirmation details-->
<div *ngIf="appointmentDeleteEvent">
  <div
    class="modal fade show d-block"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-backdrop fade show"
      (click)="appointmentDeleteEvent = !appointmentDeleteEvent"
    ></div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="newEvent">تعديل موعد</h4>
          <button
            type="button"
            class="close"
            (click)="
              appointmentDeleteEvent = !appointmentDeleteEvent
            "
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <form #editModalForm="ngForm"(ngSubmit)="OnEditSubmit(title.value,departmentName.value,description.value)"> -->
            <form #RejectModalForm="ngForm"(ngSubmit)="OnRejectSubmit(description.value)">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for=""><b>Reason For Rejection</b></label>
                  <textarea
                  #description="ngModel"
                    name="description"
                    id="description"
                    ngModel
                    cols="15"
                    rows="10"
                    class="form-control text-area--sm"
                     required
                  ></textarea>
                  <div
                    class="alert alert-danger"
                    *ngIf="description.touched && description.invalid"
                  >
                  <b>الوصف مطلوب</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit" [disabled]="!RejectModalForm.valid">تؤكد</button>
            <!-- <button class="btn btn-danger" type="button" (click)="appointmentDeleteEvent = !appointmentDeleteEvent">
              حذف الموعد
            </button>           -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--end of modal for rejection confirmation details-->
