<!--navbar showing work-->
<bs-navbar></bs-navbar>
<!--end of navbar showing work-->


<!--start of ngFullCcalendar-->

<div>
  <div *ngIf="dayCalendarOptions">
    <ng-fullcalendar
      #ucCalendarDay
      id="ucCalendarRight"
      [options]="dayCalendarOptions"
      (dayClick)="dayClick($event.detail)"
      (eventClick)="eventClick($event.detail)"
      [(eventsModel)]="events"
    >
    </ng-fullcalendar>
  </div>
</div>
<!--end of ng-fullCalendar-->


<!--modal for creating appointment-->

<div *ngIf="clickedDate && !appointmentCreateEventSuccessful">
  <div
    class="modal fade show d-block"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-backdrop fade show"
      (click)="clickedDate = !clickedDate"
    ></div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="newEvent">New Apppointment</h4>
          
            
          <button
            type="button"
            class="close"
            (click)="clickedDate = !clickedDate"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form #modalForm="ngForm" (ngSubmit)="OnSubmit(title.value)">
          <div class="modal-body">
            
            <div class="form-group">
              <label for="title"><b>Title</b></label>
              <input
                #title="ngModel"
                ngModel
                name="title"
                id="title"
                type="text"
                class="form-control"
                required
              />
              <div
                class="alert alert-danger"
                *ngIf="title.touched && title.invalid"
              >
                Title is required.
              </div>
            </div>
            
          </div>
          <div class="modal-footer">
            
            <button
              type="button"
              class="btn btn-secondary"
              (click)="clickedDate = !clickedDate"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!modalForm.valid"
            >
              Create Event
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 
<!--end of modal for creating appointment-->


<!--Modal for appointmentEvent click-->

  <div *ngIf="appointmentEditEventSuccessful">

    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-backdrop fade show"  (click)="appointmentEditEventSuccessful = !appointmentEditEventSuccessful"></div>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="newEvent">Edit Apppointment</h4>
            <button type="button" class="close" (click)="appointmentEditEventSuccessful = !appointmentEditEventSuccessful" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form
          #modalForm="ngForm"
           (ngSubmit)="getData(f.value)">
          <div class="modal-body">
            <form>
                  <div class="form-group">
                      <label for="title" ><b>Title</b></label>
                      <input
                      #title="ngModel"
                      ngModel
                       name="title"
                       id="title"
                       type="text"
                       class="form-control"
                       required
                       >
                       <div
                       class="alert alert-danger"
                       *ngIf="title.touched && title.invalid"
                       >
                       Title is required.
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
              *ngIf="!appointmentEditEventSuccessful"
              (click)="appointmentEditEventSuccessful = !appointmentEditEventSuccessful" data-dismiss="modal">Cancel</button>
              <button  class="btn btn-success">Confirm Event</button>
          </div>
        </form>
        </div>
      </div>
    </div>

  </div>
<!--end of modal Event Click in day calendar-->
