<header class="main-header">
  <div class="container d-flex justify-content-between align-items-center">
    <a routerLink="/">
      <img class="main-header__logo" src="../assets/images/logo.png" alt=""
    /></a>

    <nav class="main-nav">
      <ul>
        <li class="main-nav__item">
          <a routerLink="/" class="main-nav__link">الرئيسية</a>
        </li>
        <li class="main-nav__item">
          <a href="#0" class="main-nav__link">التقارير</a>
        </li>
        <li class="main-nav__item">
          <a href="#0" class="main-nav__link">المواعيد</a>
        </li>
      </ul>
    </nav>
    <!--
      <p #todaysDate id="todaysDate" class="text-right">
        <b>{{ Date | date: "fullDate" }}</b>
      </p>
    -->
    <div class="main-header__user-menu drop-down">
      <span class="drop-down__current">إسم المستخدم</span>
      <ul class="drop-down__menu">
        <li class="drop-down__item">
          <a href="#0" class="drop-down__link">profile</a>
        </li>
        <li class="drop-down__item">
          <a href="#0" class="drop-down__link">logout</a>
        </li>
      </ul>
    </div>
  </div>
</header>
