<header class="main-header" >
  <div class="container d-flex justify-content-between align-items-center">
    <a routerLink="/homeCalendar">
      <img class="main-header__logo" src="../assets/images/logo.png" alt=""
    /></a>

    <nav class="main-nav">
      <ul>
        <li class="main-nav__item">
          <a routerLink="/homeCalendar" class="main-nav__link">الرئيسية</a>
        </li>
        <li class="main-nav__item">
          <a routerLink="/reports" class="main-nav__link">التقارير</a>
        </li>
        <!-- <li class="main-nav__item">
          <a routerLink="#0" class="main-nav__link">المواعيد</a>
        </li> -->
        <!-- <li class="main-nav__item" *ngIf="authService.roleMatch(['SuperAdmin']) || authService.roleMatch(['Admin']) ">
          <a routerLink="/adminRegister" class="main-nav__link">UpdateUser</a>
        </li> -->
      </ul>
    </nav>
    <!--
      <p #todaysDate id="todaysDate" class="text-right">
        <b>{{ Date | date: "fullDate" }}</b>
      </p>
    -->
    <!-- <ng-template #anonymousUser>  -->
      <div class="main-header__user-menu" *ngIf="!isLoggedIn">
        <a routerLink="/" class="main-nav__link">تسجيل الدخول</a>
      </div>
     <!-- </ng-template> -->
    <div class="main-header__user-menu drop-down" *ngIf="isLoggedIn">
        <!-- *ngIf="userClaims" -->
      <!-- <span class="drop-down__current">إسم المستخدم</span> -->
      <span class="drop-down__current">{{userName}}</span>
      <ul class="drop-down__menu">
        <!-- <li class="drop-down__item">
          <a routerLink="/profile" class="drop-down__link">profile</a>
        </li> -->
        <li class="drop-down__item">
          <!-- <a class="drop-down__link" (click)="Logout">logout</a> -->
          <span class="drop-down__link" (click)="Logout()">logout</span>
        </li>
      </ul>
    </div>
  </div>
</header>
