<!-- 
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-header">
        <h1>User Login</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/signUp']" class="btn btn-link">Register</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<section class="login-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 login-page__banner">
        <img src="../../../assets//images/logo.png" alt="" />
      </div>
      <div class="col-sm-7 login-page__form">
        <generalLoading *ngIf="isLoading"></generalLoading>
        <div
          *ngIf="isLoginError"
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <strong>عفوا !</strong> إسم المستخدم أز كلمة المرور غير صحيحة
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="isLoginError = !isLoginError"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <div class="login__header">
            <h2 class="login__title">تسجيل الدخول</h2>
            <h4 class="login__sub-title">مرحبا بك! يرجي تسجيل الدخول</h4>
          </div>
          <form
            #loginForm="ngForm"
            (ngSubmit)="OnSubmit(userName.value, password.value)"
          >
            <div>
              <div class="form-group">
                <label for="userName">إسم المستخدم</label>
                <input
                  type="text"
                  id="userName"
                  name="userName"
                  #userName="ngModel"
                  [ngClass]="{
                    'txt-error': userName.touched && userName.invalid
                  }"
                  [(ngModel)]="loginUser.userName"
                  placeholder="إسم المستخدم"
                  class="form-control"
                  required
                />
                <div
                  class="text-danger"
                  *ngIf="userName.touched && userName.invalid"
                >
                  إسم المستخدم مطلوب
                </div>
              </div>

              <div class="form-group">
                <label for="password">كلمة المرور</label>
                <input
                  type="password"
                  name="password"
                  #password="ngModel"
                  [ngClass]="{
                    'txt-error': password.touched && password.invalid
                  }"
                  [(ngModel)]="loginUser.Password"
                  class="form-control"
                  placeholder="كلمة المرور"
                  required
                />
                <div
                  class="text-danger"
                  *ngIf="password.touched && password.invalid"
                >
                  كلمة المرور مطلوبة
                </div>
              </div>
              <div class="form-group d-flex justify-content-between">
                <!-- <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="gridCheck"
                  />
                  <label class="form-check-label" for="gridCheck">
                    تذكرني
                  </label>
                </div> -->
                <a routerLink="/changPassword" class="form-link"
                  >نسيت كلمة المرور ؟</a
                >
              </div>
              <div class="form-group">
                <button
                  class="btn btn-primary btn-block"
                  [disabled]="!loginForm.valid"
                  type="submit"
                >
                  تسجيل الدخول
                </button>

                <p class="form-hint">
                  يمكنك
                  <strong>
                    <a
                      [routerLink]="['/signUp']"
                      class="form-link text-underline"
                      >تسجيل مستخدم جديد</a
                    ></strong
                  >
                  إن لم يكن لديك حساب
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
