/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~fullcalendar/dist/fullcalendar.css";
/* arabic */
/* arabic */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 400;
  src: local("Tajawal"), local("Tajawal-Regular"),
    url(https://fonts.gstatic.com/s/tajawal/v1/Iura6YBj_oCad4k1nzSBC45I.woff2)
      format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
    U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 400;
  src: local("Tajawal"), local("Tajawal-Regular"),
    url(https://fonts.gstatic.com/s/tajawal/v1/Iura6YBj_oCad4k1nzGBCw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 500;
  src: local("Tajawal Medium"), local("Tajawal-Medium"),
    url(https://fonts.gstatic.com/s/tajawal/v1/Iurf6YBj_oCad4k1l8KiHrRpiYlJ.woff2)
      format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
    U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 500;
  src: local("Tajawal Medium"), local("Tajawal-Medium"),
    url(https://fonts.gstatic.com/s/tajawal/v1/Iurf6YBj_oCad4k1l8KiHrFpiQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/*styles for full calendar */
html {
  direction: rtl;
  font-size: 16px;
}
body {
  text-align: right;
  background-color: #f9f9fc;
  color: #646c9a;
  font-family: "Tajawal";
}

#calendar1 {
  padding-bottom: 15px;
  z-index: 950;
}

#calendar2 {
  z-index: 900;
}

.navbar {
  height: 50px;
  border-radius: 0;
}

.fc-body td {
  cursor: pointer;
}

.left {
  float: left;
}

.fc-event .fc-bg {
  background-color: #337ab7;
}

.navbar-btn {
  margin-right: 15px;
}

.fc-today .fc-day-number {
  background: #d9534f;
  color: white;
  font-weight: bold;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  margin: 2px;
}

.fc-today {
  background-color: #f2f2f2;
}

/*end of full calendar styles*/
@media (min-width: 1500px) {
  .container {
    max-width: 1430px;
  }
}

/**********/
:root {
  --color-primary: #562588;
}
.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #562588;
  color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.5);
  padding: 20px;
  margin-bottom: 50px;
}
.main-header__user-menu {
  font-size: 14px;
}
.main-header__logo {
  width: 180px;
}
.main-nav ul {
  list-style: none;
  padding: 0;
  padding: 0;
  margin: 0;
  display: flex;
}
.main-nav__item {
  padding-right: 10px;
}
.main-nav__link {
  color: #fff;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
}
.main-nav__link:after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  height: 2px;
  background: #fff;
  bottom: 0;
  transition: all 0.3s ease;
}
.main-nav__link:hover {
  color: #eee;
  text-decoration: none;
}
.main-nav__link:hover:after {
  left: 0;
  right: 0;
}
.dropdown-toggle::after {
  margin-left: 0;
  margin-right: 0.255em;
}

.drop-down {
  position: relative;
}
.drop-down__current {
  cursor: pointer;
}
.drop-down__current:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-left: 0;
  margin-right: 0.555em;
}
.drop-down__menu {
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  left: 0;
  right: 0;
  top: 100%;
  list-style: none;
  font-size: 13px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.1);
  transform: translate(0, 15px);
  transition: all 0.3s ease;
}

.drop-down:hover .drop-down__menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 10px);
}

.drop-down__link {
  display: block;
  color: #6f6f6f;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.drop-down__link:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.03);
  color: #562588;
}
.modal-header .close {
  margin-right: auto;
  margin-left: 0;
}
.modal-footer > :not(:first-child) {
  margin-right: 0.25rem;
  margin-left: 0;
}

.login-page {
  height: 100vh;
  background: #fff;
}

.login-page__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;
  height: 100vh;
  overflow: hidden;
  background: url("./assets/images/login-banner.jpg") no-repeat 0 0;
}
.login-page__banner--register {
  background-image: url("./assets/images/register-banner.jpg");
}
.login-page__form {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}
.login__header {
  margin-bottom: 30px;
}
.login__title {
  font-size: 40px;
}
.login__sub-title {
  color: #6f6f6f;
  font-size: 16px;
}

.form-control {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #351853;
  border-color: #351853;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.form-control:focus {
  border-color: rgba(86, 37, 136, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(86, 37, 136, 0.25);
}
.btn-link {
  color: var(--color-primary);
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(86, 37, 136, 0.25);
}

.form-check {
  padding-right: 1.25rem;
  padding-left: 0;
}
.form-check-input {
  margin-right: -1.25rem;
  padding-left: 0;
}
.form-link {
  color: var(--color-primary);
}
.form-hint {
  margin-top: 20px;
}
.text-underline {
  text-decoration: underline;
}
.text-danger {
  font-size: 0.9em;
}
